@import "tailwindcss";

@custom-variant dark (&:is(.dark *));

:root {
  --color-background-light: 249 250 251; /* gray-50 */
  --color-background-secondary-light: 229 231 235; /* gray-200 */
  --color-card-light: 255 255 255; /* white */
  --color-border-light: 209 213 219; /* gray-300 */
  --color-text-primary-light: 17 24 39; /* gray-900 */
  --color-text-secondary-light: 55 65 81; /* gray-700 */

  --color-background-dark: 17 24 39; /* gray-900 */
  --color-background-secondary-dark: 31 41 55; /* gray-800 */
  --color-card-dark: 31 41 55; /* gray-800 */
  --color-border-dark: 55 65 81; /* gray-700 */
  --color-text-primary-dark: 243 244 246; /* gray-100 */
  --color-text-secondary-dark: 156 163 175; /* gray-400 */
}

html {
  scroll-behavior: smooth;
}